@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement"
     @attributes="HtmlAttributes"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value"
     aria-label="@AriaLabel"
     rolo="toolbar">
    <CascadingValue Value="this" IsFixed="true" Name="Pivot">
        <div role="tablist">
            @ChildContent
        </div>
    </CascadingValue>
    <div role="tabpanel">
        @SelectedItem?.ChildContent
    </div>
</div>