.bit-pvt-fluent {
    > div {
        font-size: rem(14px);
        font-weight: 400;
        box-shadow: none;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        position: relative;
        white-space: nowrap;

        &:first-child {
            button {
                color: #323130;
                background-color: transparent;
                outline: transparent;
                position: relative;
                box-sizing: border-box;
                border: 0;
                display: inline-block;
                text-decoration: none;
                text-align: center;
                cursor: pointer;
                padding: 0 rem(8px);
                border-radius: 0;
                height: rem(44px);
                line-height: rem(44px);
                margin-right: rem(8px);
                user-select: none;

                > span {
                    display: flex;
                    height: 100%;
                    flex-wrap: nowrap;
                    justify-content: flex-start;
                    font-size: rem(16px);
                    align-items: center;
                }

                &:hover {
                    background-color: $CyanBlue10;
                    color: $White;
                    cursor: pointer;
                }
            }
        }
    }
}

.bit-pvt-links-fluent {
    > div {
        &:first-child {
            button {
                color: $Grey160;
                background-color: transparent;

                > span * {
                    margin-left: 4px;

                    &:first-child {
                        margin-left: 0;
                    }
                }

                &:hover {
                    color: $Grey200;
                    background-color: $Grey20;
                    cursor: pointer;
                }

                &::before {
                    background-color: $CyanBlue10;
                    bottom: 0px;
                    content: "";
                    height: 2px;
                    left: 8px;
                    position: absolute;
                    right: 8px;
                    visibility: hidden;
                }
            }

            .selected-item {
                > span {
                    font-weight: 600;
                }

                &::before {
                    visibility: visible;
                    transition: 0.2s;
                }

                &:hover {
                    &::before {
                        right: 0;
                        left: 0;
                    }
                }
            }
        }
    }

    & > div:nth-child(2) {
        font-size: 14px;
        font-weight: 600;
        color: rgb(50, 49, 48);
        box-sizing: border-box;
        box-shadow: none;
        margin: 10px 0px 0px;
        display: block;
        padding: 5px 0px;
        overflow-wrap: break-word;
    }
}

.bit-pvt-tabs-fluent {
    & > div:nth-child(1) {
        div {
            margin-right: 0px;

            &:hover {
                background-color: $CyanBlue10;
                color: $White;
            }
        }

        .selected-item {
            background-color: $CyanBlue10;
            color: $White;
            font-weight: 400;
            cursor: pointer;

            &:hover {
                background-color: $DarkAlt;
                color: $White;
            }
        }
    }

    & > div:nth-child(2) {
    }
}

.bit-pvt-scroll-fluent {
    & > div:nth-child(1) {
        overflow-X: auto;

        &::-webkit-scrollbar {
            height: 5px;
        }
        /* Track */
        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px $Grey90;
            border-radius: 10px;
        }
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $CyanBlue10;
            border-radius: 10px;
        }
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: $DarkAlt;
        }
    }
}


.bit-pvt-normal-fluent {
    & > div:nth-child(1) {
        div {
            font-size: 14px;
        }
    }
}

.bit-pvt-large-fluent {
    & > div:nth-child(1) {
        div {
            font-size: 18px;
        }
    }
}
